version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web
    ports:
      - "8080:8080"
    depends_on:
      redis:
        condition: service_healthy
    restart: unless-stopped
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512M

  worker:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: celery_worker
      depends_on:
        - redis
        - web
      command: celery -A routes.greet.celery worker --loglevel=info
      environment:
        - REDIS_HOST=redis
        - REDIS_PORT=6379
      restart: unless-stopped